<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>Slidebars Issues | Adchsm</title>
    <meta name="description" content="Common Slidebars issues and solutions.">

    <meta name="author" content="Adam Charles Smith">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="~/css/site.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="~/lib/slidebars/dist/slidebars.css">
</head>

<body>
    <div canvas="container" class="js-close-any" style="transition-duration: 300ms; transform: translate(255px, 0px);">
        <!-- Banner -->
        <div id="banner" mhtn="container edge">
            <img src="./Slidebars Issues _ Adchsm_files/banner.jpg" alt="Slidebars">
        </div>
        <!-- Content -->
        <div mhtn="container">
            <div mhtn="row">
                <div mhtn="col xs-100 md-66">
                    <div id="content">
                        <h1>Slidebars Issues</h1>

                        <p>Slidebars may have conflicting issues when combined with other libraries or plugins. If you find a conflict or bug with Slidebars, I'd love to hear - issues can be reported on <a href="https://github.com/adchsm/Slidebars">GitHub</a>.</p>

                        <p>Please provide as much information about the bug as possible. You must include a url which demonstrates the issue, or if you don't want to publicly reveal your website, create a <a href="https://jsfiddle.net/">JSFiddle</a> instead. If you don't supply this, I can't and/or won't help you.</p>

                        <p>
                            Before submitting an issue on <a href="https://github.com/adchsm/Slidebars">
                                GitHub
                            </a>, take a look at the known issues below, the <a href="https://www.adchsm.com/slidebars/help/advanced-usage/">Advanced Usage</a> section and also at <a href="https://github.com/adchsm/Slidebars/issues?q=is%3Aissue+is%3Aclosed">previously closed issues</a>.
                        </p>

                        <div class="box">
                            <h3>jQuery &lt; 1.8</h3>

                            <p>Slidebars requires jQuery 1.8+.</p>
                        </div>

                        <div class="box">
                            <h3>Owl Carousel</h3>

                            <p>Slidebars is not compatible with the first version of Owl Carousel. However it works perfeclty with <a href="http://owlcarousel.owlgraphic.com/">Owl Carousel 2</a>.</p>
                        </div>
                    </div>
                </div>

                <div mhtn="col xs-100 md-33">
                    <div id="sidebar">
                        <div class="no-margin" mhtn="row">
                            <div mhtn="col xs-100 sm-50 md-100">
                                <div class="ad">
                                    <script async="" src="./Slidebars Issues _ Adchsm_files/adsbygoogle.js.下载"></script>

                                    <ins class="adsbygoogle responsive-ad-size" style="display: inline-block; width: 269.969px; height: 225px;" data-ad-client="ca-pub-7022862816626393" data-ad-slot="3010692269" data-adsbygoogle-status="done"><ins id="aswift_0_expand" style="display:inline-table;border:none;height:225px;margin:0;padding:0;position:relative;visibility:visible;width:270px;background-color:transparent"><ins id="aswift_0_anchor" style="display:block;border:none;height:225px;margin:0;padding:0;position:relative;visibility:visible;width:270px;background-color:transparent"><iframe width="270" height="225" frameborder="0" marginwidth="0" marginheight="0" vspace="0" hspace="0" allowtransparency="true" scrolling="no" allowfullscreen="true" onload="var i=this.id,s=window.google_iframe_oncopy,H=s&amp;&amp;s.handlers,h=H&amp;&amp;H[i],w=this.contentWindow,d;try{d=w.document}catch(e){}if(h&amp;&amp;d&amp;&amp;(!d.body||!d.body.firstChild)){if(h.call){setTimeout(h,0)}else if(h.match){try{h=s.upd(h,i)}catch(e){}w.location.replace(h)}}" id="aswift_0" name="aswift_0" style="left:0;position:absolute;top:0;" src="./Slidebars Issues _ Adchsm_files/saved_resource.html"></iframe></ins></ins></ins>

                                    <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                                    </script>
                                </div>
                            </div>

                            <div mhtn="col xs-100 sm-50 md-100">
                                <div class="donate">
                                    <p class="small">Slidebars is completely free for use on any project. I spend a lot of time developing and suppporting it, if you find Slidebars useful, are using it commercially or making money from a project using Slidebars, please consider <a class="ga-donate-text" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=6R9937TXX68J4" target="_blank">donating</a>, I'd really appreciate it.</p>

                                    <p><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=6R9937TXX68J4" target="_blank" class="button paypal expand-on-mobile ga-donate-button"><i class="fa fa-paypal"></i> Donate with PayPal</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /container -->

        <div mhtn="container">
            <div mhtn="row">
                <div mhtn="col xs-100">
                    <ol class="breadcrumb">
                        <li><a href="https://www.adchsm.com/slidebars/" title="Slidebars">Slidebars</a></li>
                        <li><a href="https://www.adchsm.com/slidebars/help/" title="Help">Help</a></li>
                        <li>Issues</li>
                    </ol>
                </div>
            </div>
        </div>
        <footer mhtn="container">
            <div mhtn="row">
                <div mhtn="col xs-100">
                    <small class="black-secondary">Slidebars © 2014 - 2017 <a href="http://www.adchsm.com/">Adam Charles Smith</a> | Browser testing provided by <a target="_blank" href="http://www.browserstack.com/"><img id="browserstack" src="./Slidebars Issues _ Adchsm_files/browserstack-logo.png" alt="BrowserStack" width="100"></a></small>
                </div>
            </div>
        </footer>
    </div><!-- /canvas -->

    <nav canvas="" class="js-close-any" style="transition-duration: 300ms; transform: translate(255px, 0px);">
        <div mhtn="container">
            <div mhtn="row">
                <div mhtn="col xs-100">
                    <div class="float-left">
                        <span class="button js-toggle-main-menu">
                            <i class="fa fa-bars"></i> 
                            <span class="text">Menu</span>
                        </span>
                    </div>

                    <div class="float-right">
                        <span class="button js-toggle-help-menu ">
                            <i class="fa fa-sign-out" aria-hidden="true"></i>
                            <span class="text">Help Center</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div off-canvas="main-menu left shift" style="margin-left: -255px; display: block; transition-duration: 300ms; transform: translate(255px, 0px);">
        <img id="logo-menu" src="./Slidebars Issues _ Adchsm_files/slidebars-logo-white.png" alt="Slidebars">
        <ul class="menu small">
            <li><a href="https://www.adchsm.com/slidebars/"><span class="fa fa-home"></span> Home</a></li>
            <li><a href="https://www.adchsm.com/slidebars/features/"><span class="fa fa-check-circle"></span> Features</a></li>
            <li><a href="https://www.adchsm.com/slidebars/downloads/"><span class="fa fa-cloud-download"></span> Downloads</a></li>
            <li><a href="https://www.adchsm.com/slidebars/help/issues/#" class="js-toggle-demos-menu"><span class="fa fa-eye"></span> Demos</a></li>
            <li><a href="https://www.adchsm.com/slidebars/help/issues/#" class="js-toggle-help-menu"><span class="fa fa-life-ring"></span> Help Center</a></li>
            <li><a href="https://www.adchsm.com/slidebars/compatibility/"><span class="fa fa-info-circle"></span> Compatibility</a></li>
            <li><a href="https://github.com/adchsm/Slidebars" class="ga-external-github"><span class="fa fa-github"></span> Slidebars on GitHub</a></li>
            <li><a href="https://www.adchsm.com/slidebars/help/issues/#" class="js-toggle-author-menu"><span class="fa fa-user"></span> About the Author</a></li>
            <li><a href="https://www.adchsm.com/slidebars/help/issues/#" class="js-close-any"><span class="fa fa-times-circle"></span> Close</a></li>
        </ul>
    </div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/slidebars/dist/slidebars.js"></script>
    <script src="~/js/site.js"></script>
</body>
</html>